<a href="https://colab.research.google.com/github/rekhachakkara/python_projects/blob/master/airport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

import pandas  as  pd
import datetime
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

Mounted at /content/drive

In [12]:
data_sheet = pd.read_csv("/content/drive/MyDrive/Data_set_rekha/airports.dat.txt")
#print(data_sheet)
data_sheet.columns = ["Airport_ID","Name","City","Country","IATA","ICAO","Latitude","Longitude","Altitude","Timezone","DST","Tz database timezone","Type","Source"]
data_airlines = pd.read_csv("/content/drive/MyDrive/Data_set_rekha/Airports2.csv")

#1
data_airline_sheet1 = data_sheet.sort_values(by=['Altitude'],ascending=False)
data_airline_sheet1['rank'] = data_airline_sheet1['Altitude'].rank(ascending=False)
data_sheet1_top = data_airline_sheet1[['Airport_ID','Name','City','Country','Altitude','rank']]
print(data_sheet1_top,20)

#2
data_country = data_sheet.groupby(['Country']).size().to_frame('total_airports').reset_index()
data_country = data_country.sort_values(by=['total_airports'],ascending=False)
data_country['rank'] = data_country['total_airports'].rank(ascending=False)
print(data_country,20)

#3
data_country1 = data_sheet.groupby(['City']).size().to_frame('total_airports').reset_index()
data_country1 = data_country1.sort_values(by=['total_airports'],ascending=False)
data_country1 ['rank'] = data_country1['total_airports'].rank(ascending=False)
print(data_country1, 20)

#4
data_city = data_sheet.groupby(['City'])['Country'].nunique().to_frame("count").reset_index()
data_city = data_city.where(data_city["count"] >=2)
print(data_city, 10)

#part 2
#1
def get_year(row):
    return datetime.datetime.strptime(row['Fly_date'], '%Y-%m-%d').year
data_airlines ["year"] = data_airlines.apply(get_year, axis=1)

data_inbound = data_airlines.where(data_airlines["year"] == 2009)
data_2009 = data_inbound.groupby(['Destination_city'])['Flights'].sum().to_frame('total_inbound_flight').reset_index()
data_2009 = data_2009.sort_values(by=['total_inbound_flight'], ascending=False)
data_2009['rank'] = data_2009['total_inbound_flight'].rank(ascending=False)
data_2009_city = data_2009[['Destination_city','total_inbound_flight','rank']]
data_2009_city.columns = ["city", "total_inbound_flights", "inbound_rank"]
print(data_2009_city, 10)

#data_sheet.sort_values("Type",inplace=True)
#filter
#filter = data_sheet("Type") == "Airport"
#data_sheet.where(filter,inplace=True)

      Airport_ID                                 Name          City  \
6541        9310              Daocheng Yading Airport      Daocheng
5027        6396                 Qamdo Bangda Airport        Bangda
6392        8921                     Kangding Airport      Kangding
5871        7932                  Ngari Gunsa Airport     Shiquanhe
2624        2762        El Alto International Airport        La Paz
...          ...                                  ...           ...
2068        2151                       Ramsar Airport        Ramsar
4086        4357                       Atyrau Airport        Atyrau
5720        7646  Jacqueline Cochran Regional Airport  Palm Springs
1552        1595                   Ein Yahav Airfield     Eyn-yahav
1557        1600                  Bar Yehuda Airfield       Metzada

            Country  Altitude    rank
6541          China     14472     1.0
5027          China     14219     2.0
6392          China     14042     3.0
5871          China     14022     4.0
2624        Bolivia     13355     5.0
...             ...       ...     ...
2068           Iran       -70  7693.0
4086     Kazakhstan       -72  7694.0
5720  United States      -115  7695.0
1552         Israel      -164  7696.0
1557         Israel     -1266  7697.0

[7697 rows x 6 columns] 20
                     Country  total_airports   rank
223            United States            1512    1.0
37                    Canada             430    2.0
11                 Australia             334    3.0
176                   Russia             264    4.5
27                    Brazil             264    4.5
..                       ...             ...    ...
45   Cocos (Keeling) Islands               1  223.0
44          Christmas Island               1  223.0
156                     Niue               1  223.0
157           Norfolk Island               1  223.0
84                   Grenada               1  223.0

[237 rows x 3 columns] 20
            City  total_airports    rank
3506      London               9     1.0
1347    Columbus               8     2.0
2092  Georgetown               7     3.5
5394    San Jose               7     3.5
2487     Houston               6     8.0
...          ...             ...     ...
2396   Helgoland               1  3717.5
2395      Helena               1  3717.5
2394       Heihe               1  3717.5
2393        Heho               1  3717.5
6953      Å½ilina               1  3717.5

[6954 rows x 3 columns] 20
     City  count
0     NaN    NaN
1     NaN    NaN
2     NaN    NaN
3     NaN    NaN
4     NaN    NaN
...   ...    ...
6949  NaN    NaN
6950  NaN    NaN
6951  NaN    NaN
6952  NaN    NaN
6953  NaN    NaN

[6954 rows x 2 columns] 10
               city  total_inbound_flights  inbound_rank
74      Chicago, IL               417297.0           1.0
21      Atlanta, GA               396603.0           2.0
93       Dallas, TX               316265.0           3.0
263    New York, NY               278206.0           4.0
167     Houston, TX               250030.0           5.0
..              ...                    ...           ...
261  New Iberia, LA                    1.0         397.0
62   Carbondale, IL                    1.0         397.0
303      Racine, WI                    1.0         397.0
296       Price, UT                    1.0         397.0
359  Starkville, MS                    1.0         397.0

[408 rows x 3 columns] 10