<a href="https://colab.research.google.com/github/rekhachakkara/python_projects/blob/master/airport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from google.colab import drive
drive.mount('/content/drive')

import pandas  as  pd
import datetime
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
data_sheet = pd.read_csv("/content/drive/MyDrive/Data_set_rekha/airports.dat.txt")
#print(data_sheet)
data_sheet.columns = ["Airport_ID","Name","City","Country","IATA","ICAO","Latitude","Longitude","Altitude","Timezone","DST","Tz database timezone","Type","Source"]
data_airlines = pd.read_csv("/content/drive/MyDrive/Data_set_rekha/Airports2.csv")

data_airline_sheet1 = data_sheet.sort_values(by=['Altitude'],ascending=False)

data_airline_sheet1['rank'] = data_airline_sheet1['Altitude'].rank(ascending=False)
data_sheet1_top = data_airline_sheet1[['Airport_ID','Name','City','Country','Altitude','rank']]
print(data_sheet1_top,20)


#data_sheet.sort_values("Type",inplace=True)
#filter
#filter = data_sheet("Type") == "Airport"
#data_sheet.where(filter,inplace=True)

      Airport_ID                                 Name          City  \
6541        9310              Daocheng Yading Airport      Daocheng
5027        6396                 Qamdo Bangda Airport        Bangda
6392        8921                     Kangding Airport      Kangding
5871        7932                  Ngari Gunsa Airport     Shiquanhe
2624        2762        El Alto International Airport        La Paz
...          ...                                  ...           ...
2068        2151                       Ramsar Airport        Ramsar
4086        4357                       Atyrau Airport        Atyrau
5720        7646  Jacqueline Cochran Regional Airport  Palm Springs
1552        1595                   Ein Yahav Airfield     Eyn-yahav
1557        1600                  Bar Yehuda Airfield       Metzada

            Country  Altitude    rank
6541          China     14472     1.0
5027          China     14219     2.0
6392          China     14042     3.0
5871          China     14022     4.0
2624        Bolivia     13355     5.0
...             ...       ...     ...
2068           Iran       -70  7693.0
4086     Kazakhstan       -72  7694.0
5720  United States      -115  7695.0
1552         Israel      -164  7696.0
1557         Israel     -1266  7697.0

[7697 rows x 6 columns] 20