<a href="https://colab.research.google.com/github/rekhachakkara/python_projects/blob/master/hr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
import pandas  as  pd
import datetime
import numpy as np
import datetime

excel_sheet = pd.read_csv("/content/drive/MyDrive/Data_set_rekha/HR_comma_sep.csv")
#print(excel_sheet.head(5))

#how many employeev in each department
data_sheet = excel_sheet.groupby('sales').size().to_frame("total").reset_index()
data_sheet1 = data_sheet.sort_values(by="total",ascending=True)
print(data_sheet1)

#left and number of employees  and rank
data_left = excel_sheet.where(excel_sheet["left"] == 1).groupby('sales').size().to_frame("tot").reset_index()
data_left ['rank'] = data_left['tot'].rank(ascending=False)
print(data_left)

         sales  total
4   management    630
3           hr    739
2   accounting    767
1        RandD    787
5    marketing    858
6  product_mng    902
0           IT   1227
8      support   2229
9    technical   2720
7        sales   4140
         sales   tot  rank
0           IT   273   4.0
1        RandD   121   9.0
2   accounting   204   6.0
3           hr   215   5.0
4   management    91  10.0
5    marketing   203   7.0
6  product_mng   198   8.0
7        sales  1014   1.0
8      support   555   3.0
9    technical   697   2.0