<a href="https://colab.research.google.com/github/rekhachakkara/python_projects/blob/master/powerlifting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
def pretty_print(df, n):
  print(tabulate(df.head(n),headers='keys',tablefmt='psql'))

In [ ]:
from os import lockf
import pandas as pd
from tabulate import tabulate # tabulate helps to convert the data into tabular form with heares and format eype
data_excel = pd.read_csv("/content/drive/MyDrive/Data_set_rekha/openpowerlifting.csv")
#print("reading from excel all datas",data_excel.to_string)
#data_excel.head()
#data_excel.tail()
#table_format = tabulate(data_excel.head(),headers="keys",tablefmt="html")
table_format = tabulate(data_excel.head(),headers="keys",tablefmt="pSql")
#print("table",table_format)
#to_frame - convert the SerieS object into dataframe
#reSet_index - allowS the index to be reSeted to 0,1,2 etc
#.Size - count the occurence of the groupby
#Syntax: DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)
groupby_male = data_excel.loc[data_excel['Sex'] == "M"].groupby(['State']).size().to_frame('count').reset_index()
Sorted_male = groupby_male.sort_values(by=['count'],ascending=True)
#groupby.mean() #mean remove empty cellS
pretty_print(Sorted_male,10)
groupby_fem = data_excel.loc[data_excel['Sex'] == "F"].groupby(['State']).size().to_frame('count').reset_index()
Sorted_fem = groupby_fem.sort_values(by=['count'],ascending=False)
#groupby.mean() #mean remove empty cellS
pretty_print(Sorted_fem,10)

<ipython-input-12-8d08d8cf46f9>:4: DtypeWarning: Columns (33,35,38) have mixed types. Specify dtype option on import or set low_memory=False.
  data_excel = pd.read_csv("/content/drive/MyDrive/Data_set_rekha/openpowerlifting.csv")

+----+---------+---------+
|    | State   |   count |
|----+---------+---------|
| 75 | MP      |       1 |
| 32 | ER      |       1 |
| 44 | HEN     |       1 |
| 49 | HUN     |       1 |
| 56 | JL      |       1 |
| 22 | CM      |       1 |
| 58 | JX      |       1 |
| 64 | LN      |       1 |
| 18 | CAN     |       1 |
| 33 | ES      |       1 |
+----+---------+---------+
+-----+---------+---------+
|     | State   |   count |
|-----+---------+---------|
|  15 | CA      |   19802 |
| 115 | TX      |   16280 |
|  30 | FL      |    7734 |
| 124 | WI      |    6230 |
|  69 | NC      |    6123 |
|  83 | NY      |    6086 |
| 121 | WA      |    5970 |
| 117 | VA      |    5921 |
|  88 | PA      |    5707 |
|  84 | OH      |    5705 |
+-----+---------+---------+

In [ ]:
from os import lockf
import pandas as pd
from tabulate import tabulate # tabulate helps to convert the data into tabular form with heares and format eype
data_excel = pd.read_csv("/content/drive/MyDrive/Data_set_rekha/openpowerlifting.csv")
#print("reading from excel all datas",data_excel.to_string)
#data_excel.head()
#data_excel.tail()
#table_format = tabulate(data_excel.head(),headers="keys",tablefmt="html")
table_format = tabulate(data_excel.head(),headers="keys",tablefmt="pSql")
#print("table",table_format)
#to_frame - convert the SerieS object into dataframe
#reSet_index - allowS the index to be reSeted to 0,1,2 etc
#.Size - count the occurence of the groupby
#Syntax: DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)
groupby_male = data_excel.loc[data_excel['Sex'] == "M"].groupby(['State']).size().to_frame('count').reset_index()
Sorted_male = groupby_male.sort_values(by=['count'],ascending=True)
#groupby.mean() #mean remove empty cellS
pretty_print(Sorted_male,10)
groupby_fem = data_excel.loc[data_excel['Sex'] == "F"].groupby(['State']).size().to_frame('count').reset_index()
Sorted_fem = groupby_fem.sort_values(by=['count'],ascending=False)
#groupby.mean() #mean remove empty cellS
pretty_print(Sorted_fem,10)

<ipython-input-12-8d08d8cf46f9>:4: DtypeWarning: Columns (33,35,38) have mixed types. Specify dtype option on import or set low_memory=False.
  data_excel = pd.read_csv("/content/drive/MyDrive/Data_set_rekha/openpowerlifting.csv")

+----+---------+---------+
|    | State   |   count |
|----+---------+---------|
| 75 | MP      |       1 |
| 32 | ER      |       1 |
| 44 | HEN     |       1 |
| 49 | HUN     |       1 |
| 56 | JL      |       1 |
| 22 | CM      |       1 |
| 58 | JX      |       1 |
| 64 | LN      |       1 |
| 18 | CAN     |       1 |
| 33 | ES      |       1 |
+----+---------+---------+
+-----+---------+---------+
|     | State   |   count |
|-----+---------+---------|
|  15 | CA      |   19802 |
| 115 | TX      |   16280 |
|  30 | FL      |    7734 |
| 124 | WI      |    6230 |
|  69 | NC      |    6123 |
|  83 | NY      |    6086 |
| 121 | WA      |    5970 |
| 117 | VA      |    5921 |
|  88 | PA      |    5707 |
|  84 | OH      |    5705 |
+-----+---------+---------+

In [ ]:
from os import lockf
import pandas as pd
from tabulate import tabulate # tabulate helps to convert the data into tabular form with heares and format eype
data_excel = pd.read_csv("/content/drive/MyDrive/Data_set_rekha/openpowerlifting.csv")
#print("reading from excel all datas",data_excel.to_string)
#data_excel.head()
#data_excel.tail()
#table_format = tabulate(data_excel.head(),headers="keys",tablefmt="html")
table_format = tabulate(data_excel.head(),headers="keys",tablefmt="pSql")
#print("table",table_format)
#to_frame - convert the SerieS object into dataframe
#reSet_index - allowS the index to be reSeted to 0,1,2 etc
#.Size - count the occurence of the groupby
#Syntax: DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)
groupby_male = data_excel.loc[data_excel['Sex'] == "M"].groupby(['State']).size().to_frame('count').reset_index()
Sorted_male = groupby_male.sort_values(by=['count'],ascending=False)
#groupby.mean() #mean remove empty cellS
pretty_print(Sorted_male,10)
groupby_fem = data_excel.loc[data_excel['Sex'] == "F"].groupby(['State']).size().to_frame('count').reset_index()
Sorted_fem = groupby_fem.sort_values(by=['count'],ascending=False)
#groupby.mean() #mean remove empty cellS
pretty_print(Sorted_fem,10)

<ipython-input-13-4f754403def3>:4: DtypeWarning: Columns (33,35,38) have mixed types. Specify dtype option on import or set low_memory=False.
  data_excel = pd.read_csv("/content/drive/MyDrive/Data_set_rekha/openpowerlifting.csv")

+-----+---------+---------+
|     | State   |   count |
|-----+---------+---------|
|  17 | CA      |   43615 |
| 133 | TX      |   32968 |
|  34 | FL      |   16330 |
|  99 | OH      |   15261 |
| 103 | PA      |   15205 |
|  81 | NC      |   14996 |
|  98 | NY      |   13928 |
| 135 | VA      |   13890 |
| 101 | ON      |   10942 |
|   9 | AZ      |    9933 |
+-----+---------+---------+
+-----+---------+---------+
|     | State   |   count |
|-----+---------+---------|
|  15 | CA      |   19802 |
| 115 | TX      |   16280 |
|  30 | FL      |    7734 |
| 124 | WI      |    6230 |
|  69 | NC      |    6123 |
|  83 | NY      |    6086 |
| 121 | WA      |    5970 |
| 117 | VA      |    5921 |
|  88 | PA      |    5707 |
|  84 | OH      |    5705 |
+-----+---------+---------+

In [ ]:
()